* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
    color: #222;
}

.sir_1,
.sir_2{
    display: flex;
        justify-content: center;
        align-items: center;
       
    & img{
        width: 90%;
        height: auto;
        border-radius: 10px;
         background-size: cover;
    }
}

header {
    background: #0056ff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #003bb3;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #e0edff;
    padding: 60px 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.section {
    padding: 40px 20px;
    max-width: 1100px;
    margin: auto;
}

.title {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer {
    background: #003bb3;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

@media (width <=768px) {
    .nav {
        & a {
            font-size: 0.8rem;
        }
    }
}